@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Kufi+Arabic:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">);

:root{
    --bg-color:#0e1217;
    --font-color:#a8b3cf;
    --btn-bg-color:#1a1f26;
    --font:"Roboto Flex", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    overflow: hidden;
   
}
h1,p,button{
    font-family: var(--font);
    color:var(--font-color)
}
button{
    border-radius: 24px;
    border: none;
    background-color: var(--btn-bg-color);
    padding: 10px 20px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    align-items: center;

}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

}
.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliders{
     width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
  
}
.slider{
        position: absolute;
        width: 600px;
        height: 500px;
}
.slider h1{
    position: absolute;
    left: 20%;
    top:55%;
    font-size: 21px;
    color:white;
    text-shadow: 1px 1px 2px var(--font-color) ;

}
.slider img{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}